@model VideoStreamer.Models.LivePlayerViewModels.ProcessMonitorView


<!DOCTYPE html>
<html>
<body>

<h2 style="text-align : center">Activity Monitor</h2>

<table style="width:100%">
  <tr>
    <th>PID</th>
    <th>Machine Name</th> 
    <th>StartTime</th>
    <th>Time+</th>
    <th>Memory</th> 
    <th>Command</th>
  </tr>
    @foreach (var x in @Model._StreamingProcesses)
    {
      <tr>
      <td style="text-align : center"; > @x.Id </td>
      <td style="text-align : center"; > @x.MachineName </td>
      <td style="text-align : center"; >@x.StartTime</td>
      <td style="text-align : center";> @x.PrivilegedProcessorTime</td>
      <td > <div style="overflow-x:scroll;">@(x.StartInfo.FileName + " " + x.StartInfo.Arguments)</div> </td>

      </tr>
    }
</table>
</body>
</html>